$white: #ffffff;
$cream: #f3f4f6;
$black: #000000;
$green: #27d04c;
$lightGrey: #292828;
$darkGrey: #101010;
$footerGreyText: #939393;
$pink: #fc115c;
$greyHr: #403e3e;
$yellow: #e8c544;
$blue: #5c33ff;
$paragraph: #555555;
