@media only screen and (max-width: 600px) {
  /* Footer style */
  .footer-menu {
    flex-direction: column !important;
    li {
      margin: 10px 50px !important;
    }
  }
  /* Table Hotel */
  .top_rated_box {
    top: -10px;
  }
  .hotel_table {
    border-left: unset;
  }
  .circle-good {
    margin-left: auto !important;
    max-width: 77px !important;
  }
  /* Footer */
  .footer-icons {
    display: grid;
    justify-content: center;
  }
  .age-18-icon {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 23px;
  }
}
